{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Авторизация {% endblock %}

{% block style %}
    <style type="text/css">
        label {
            margin-left: 20px;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.5);
        }

        input {
            box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
        }
    </style>
{% endblock %}

{% block content %}
{% include 'nb_all.html' %}

</div>
<div class="" style="" align="center">
    <a href="{% url 'main' %}"><img src="{% static 'images/villem.png' %}" width="375" height="126"></a>
</div>

    <div align="center" class="d-grid"  style="color: white">
        <h3 class="mt-4">Авторизация</h3>
        <form method="post" class="mx-auto mt-2 fs-5 mb-5" style="color: white; text-align: left">
            {% csrf_token %}
            <div id="div_id_username" class="form-group mb-3"><label for="id_username" class=" requiredField">
                Имя пользователя:</label>
                <div class=""><input type="text" name="username" placeholder="Логин"
                                     style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69); color: #7F7F7F"
                                     class="form-control textinput textInput form-control"  maxlength="150" required=""
                                     id="id_username">
                </div>
            </div>
            <div id="div_id_password" class="form-group mb-3"><label for="id_password" class=" requiredField">
                Пароль: </label>
                <div class=""><input type="password" placeholder="Пароль" name="password"
                                     style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69); color: #7F7F7F"
                                     class="form-control textinput textInput form-control"
                                     equired="" id="id_password"></div></div>

            <button type="submit" class="btn"><img src="/static/images/butSignIn.png" width="200" height="auto">
            </button>
        </form>
    </div>
{% endblock %}