{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Авторизация {% endblock %}


{% block content %}
<div class="d-flex" style="margin: 2%">
    <a class="" href="#">
        <img src="{% static 'images/sponsors.png' %}" alt="" width="188" height="78">
    </a>

</div>
<div class="" href="#" style="" align="center">
    <img src="{% static 'images/villem.png' %}" width="375" height="126">
</div>


    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Авторизироваться</button>
    </form>
{% endblock %}