{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}



{% block content %}
    {% include 'nb_all.html' %}
    <div class="row">
    {% for item in orders %}
        <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'info product' pk=item.product.pk %}"><img class="card-img-top"
                                                                       src="{{ item.product.photo.url }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{ item.product.name }}</a>
                        </h4>
                        <h5>{{ item.price }}</h5>
                        <p class="card-text"><a href="{% url 'info order' pk=item.pk %}">Подробнее о заказе...</a></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ item.product.category }}</small>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>


{% endblock %}