{% load static %}

<div class="d-flex" style="margin: 2%">
    <a class="" href="main">
        <img src="{% static 'images/sponsors.png' %}" alt="" width="130" height="auto">
    </a>
    <a class="" href="{% url 'main' %}" style="margin-right: 2%; margin-left: 4%"><h5>Главная</h5></a>
    <a class="" href="{% url 'map' %}" style="margin-right: 2%"><h5>Карта</h5></a>
    <a class="" href="#" style="margin-right: 2%"><h5>Помощь</h5></a>

    {% if request.user.is_authenticated %}
            <div class="d-flex" style="margin-left: 40%">
                <div style="color: rgba(0, 0, 0, 0.4);"><h5>Добро пожаловать, <a href="{% url 'lk' %}">{{ user.user.username }}</a> | </h5></div>
                <div><a href="{% url 'logout' %}"><h5>Выход</h5></a></div>
    </div>
    {% else %}
    <div class="d-flex" style="margin-left: 40%">
    <a class="" href="{% url 'login' %}" style="margin-right: 20%"><h5>Войти</h5></a>
        <a class="" href="{% url 'reg' %}" style=""><h5>Зарегистрироваться</h5></a>
    </div>
    {% endif %}
</div>