{% extends 'base.html' %}

{% block title %}Профиль {{ other_user.user.username }}{% endblock %}

{% block content %}
    {% include 'nb_all.html' %}
    <h1>{{ other_user.user.username }}</h1>
    {{ count.0 }}
    {{ count.1 }}
    <div class="row">
        {% for item in products %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a href="{% url 'info product' pk=item.pk %}"><img class="card-img-top"
                                                                       src="{{ item.photo.url }}" alt=""></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a href="#">{{ item.name }}</a>
                        </h4>
                        <h5>{{ item.start_price }}</h5>
                        <p class="card-text"><a href="{% url 'product_detail' pk=item.pk %}">Подробнее..</a></p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">{{ item.category }}</small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>


{% endblock %}