{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Изменение услуги{% endblock %}

{% block style %}
<style type="text/css">
    label {
        font-size: 1.25rem;
    }

    input, #file {
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
    }

    select {
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);
    }

    input[type="file"] {
        display: none;
    }

</style>
{% endblock %}

{% block content %}
{% include 'nb_all.html' %}

</div>
<div class="" style="" align="center">
    <a href="{% url 'main' %}"><img src="{% static 'images/villem.png' %}" width="375" height="auto"></a>
</div>

<form class="gap-1 col-3 mx-auto" method="post" enctype="multipart/form-data" align="center" style="color: white">
    {% csrf_token %}

    <div id="div_id_name" class="form-group mt-3"><label for="id_name" class=" requiredField">
        Наименование продукта </label>
        <div class="">
            <input type="text" value="{{ product.name }}" name="name" maxlength="255" class="textinput textInput form-control" required="" id="id_name" style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69)">
        </div>
    </div>
    <div id="div_id_category" class="form-group mt-3"><label for="id_category" class=" requiredField">
        Категория </label>
        <div class=""><select name="category" class="select form-control" required="" id="id_category" style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69)">
            {% for item in categories %}
            <option value="{{ item.id }}" {% if item == prodeuc.category %}selected{% endif %} >{{ item.name }}</option>
            {% endfor %}

        </select></div>
    </div>
    <div id="div_id_photo" class="form-group mt-3"><label for="id_photo" class=" requiredField">
        Фотография продукта </label>
        <div class="">

            На данный момент: <a href="{{ product.photo.url }}">{{ product.photo.url }}</a><br>
            Изменить:
            <input type="file" name="photo" accept="image/*" class="clearablefileinput form-control-file" id="id_photo" style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69)">
        </div>
    </div>
    <div id="div_id_info" class="form-group mt-3"><label for="id_info" class=" requiredField">
        Описание услуги </label>
        <div class=""><textarea name="info" cols="40" rows="10" class="textarea form-control" required="" id="id_info" style="border-radius: 30px; background: rgba(255,255,255,0.69)">{{ product.info }}</textarea>
        </div>
    </div>
    <div id="div_id_start_price" class="form-group mt-3"><label for="id_start_price" class=" requiredField">
        Цена на услугу </label>
        <div class=""><input type="tel" value="{{ product.start_price }}" name="start_price" step="0.01"
                             class="numberinput form-control" required="" id="id_start_price" style="border-radius: 30px; height: 50px; background: rgba(255,255,255,0.69)">
        </div>
    </div>

    <button type="submit" class="btn mt-3 mb-3"><img src="/static/images/butChange.png"
                                                     width="150" height="auto"></button>
</form>


{% endblock %}