{% extends 'base.html' %}
{% load static %}


{% block title %} Главная {% endblock %}
{% block style %}
<style type="text/css">


</style>
{% endblock %}


{% block content %}

<div class="d-flex" style="margin: 2%">
    <a class="" href="#">
        <img src="{% static 'images/sponsors.png' %}" alt="" width="188" height="78">
    </a>

    <div class="d-flex" style="margin-left: 63%">
    <a class="" href="{% url 'login' %}" style="margin-right: 20%"><h5>Войти</h5></a>
        <a class="" href="{% url 'reg' %}" style=""><h5>Зарегистрироваться</h5></a>
    </div>
</div>


<div class="" href="#" style="" align="center">
    <img src="{% static 'images/villem.png' %}" width="375" height="126">
</div>

<div class="" style="margin: 10%" align="center">
    <a class="" href="#">
        <img src="{% static 'images/butProd.png' %}" width="30%" height="auto"></a>

    <a class="" href="#">
        <img src="{% static 'images/butPost.png' %}" width="30%" height="auto"></a>
</div>
{% endblock %}


