{% extends 'base.html' %}
{% load static %}


{% block title %} Главная {% endblock %}
{% block style %}
<style type="text/css">
select {

    text-align-last: center;
    text-align: center;
}
option{
    color: #0f0f0f;
}

.form-select {
    padding: 0
}
</style>
{% endblock %}


{% block content %}

{% include 'nb_all.html' %}

<div class="" style="" align="center">
    <a href="{% url 'main' %}"><img src="{% static 'images/villem.png' %}" width="375" height="126"></a>
</div>

    {% csrf_token %}
<div id="region" class="d-grid gap-1 col-3 mx-auto" align="center">
    <h5 class="mt-4" style="color: rgba(255,255,255,0.5)">Выберите регион:</h5>
<select id="select_region" class="form-select  fs-5" style="background: rgba(255, 255, 255, 0); color: white; border: 0" id="">
    {% for item in region %}
        <option value="{{ item }}">{{ item }}</option>
    {% endfor %}
</select>
</div>

<div id="div_country" class="d-grid gap-1 col-3 mx-auto mb-4" align="center">
    <h5 class="mt-2" style="color: rgba(255,255,255,0.5)">В данном регионе найдено:</h5>
<select id="country" class="form-select fs-5 mb-4" style="background: rgba(255, 255, 255, 0); color: white; border: 0" id="">
    {% for item in pos %}
        <option class="country" value="{{ item }}">{{ item }}</option>
    {% endfor %}
</select>

</div>

<div id="status" class="mt-3" style="margin: 20px" align="center">
    <a id="prod"  class="">
        <img src="{% static 'images/butProd.png' %}" width="20%" height="auto"></a>

    <a id="postav" class="">
        <img src="{% static 'images/butPost.png' %}" width="20%" height="auto"></a>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'build/js/main.js' %}"></script>
{% endblock %}


