{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Помощь{% endblock %}

{% block style %}
<style type="text/css">

    #rectangle {
        width: 1400px;
        height: 100%;
        background: #ffffff;
        border-radius: 50px;
        border: 0;
    }
</style>
{% endblock %}


{% block content %}
{% include 'nb_all.html' %}
<div class="" style="" align="center">
    <a href="{% url 'main' %}"><img src="{% static 'images/villem.png' %}" width="375" height="auto"></a>
</div>

<h2 class="mt-3" align="center" style="color: white; text-shadow: 0 20px 20px rgba(0, 0, 0, 0.16);">Помощь</h2>

<div class="" align="" id="rectangle" style="color:black; margin: 1%">

    <h5 style="margin: 3%; padding-top: 30px">Каким образом можно зарегистрироваться в качестве самозанятого?</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Сложно ли сняться с учёта?</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Зарегистрироваться в качестве самозанятого (плательщика налога на профессиональный доход)
        можно в приложении</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">«Мой налог» и через личный кабинет налогоплательщика на сайте налогового органа (nalog.ru).
        Посещать налоговую инспекцию не нужно.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Сняться с учёта в налоговой инспекции так же просто, как зарегистрироваться. Необходимо
        просто нажать кнопку</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">«Сняться с учёта» в разделе меню «Настройки» в приложении «Мой налог».</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">В каких регионах Российской Федерации действует специальный налоговый режим "Налог на
        профессиональный доход" (режим самозанятости)?</h5>
    <h5 style="margin: 3%">Адыгея – с 01 июля 2020 года;</h5>
    <h5 style="margin: 3%">Алтай – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Алтайский край – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Амурская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Архангельская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Астраханская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Башкирия – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Белгородская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Брянская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Бурятия – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Владимирская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Волгоградская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Воронежская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Дагестан – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Еврейский автономный округ – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ивановская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Иркутская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Кабардино-Балкария – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Калининградская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Калужская область – с 01 января 2019 года;</h5>

    <h5 style="margin: 3%">Камчатский край – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Карелия - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Кемеровская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Кировская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Коми – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Костромская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Краснодарский край – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Красноярский край – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Крым – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Курганская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Курская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ленинградская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Липецкая область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Мордовия – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Москва – с 01 января 2019 года;</h5>

    <h5 style="margin: 3%">Московская область – с 01 января 2019 года;</h5>

    <h5 style="margin: 3%">Мурманская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ненецкий автономный округ – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Нижегородская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Новгородская область - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Новосибирская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Омская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Оренбургская область - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Орловская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Пензенская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Пермский край – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Приморский край – с 01 июля 2020 года</h5>

    <h5 style="margin: 3%">Псковская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ростовская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Рязанская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Самарская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Санкт-Петербург – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Саратовская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Сахалинская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Свердловская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Севастополь – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Смоленская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ставропольский край - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Татарстан – с 01 января 2019 года;</h5>

    <h5 style="margin: 3%">Тверская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Томская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Тульская область – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Тюменская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Тыва - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Удмуртия - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Хабаровский край – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Хакасия – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ханты-Мансийский автономный округ – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Челябинская область – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Чувашия – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Чукотский автономный округ – с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Якутия (Саха) - с 01 июля 2020 года;</h5>

    <h5 style="margin: 3%">Ямало-Ненецкий автономный округ – с 01 января 2020 года;</h5>

    <h5 style="margin: 3%">Ярославская область - с 01 июля 2020 года.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Самозанятый имеет постоянное место регистрации по месту жительства (прописку) в одном
        регионе, но выполняет
        работы в другом регионе. Нет ли в этом нарушения?
        Нарушения нет. Самозанятый выбирает регион ведения деятельности и может изменить его один раз в год. Можно
        выбрать регион независимо от места постоянного проживания.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Может ли самозанятый оказывать услуги удаленно заказчику, находящемуся в другом регионе? Что
        в данном случае
        будет считаться местом оказания услуг?
        Самозанятый может оказывать услуги удаленно по месту своей регистрации в качестве самозанятого. В таком случае
        местом оказания услуг будет регион его регистрации в качестве самозанятого, налог на профессиональный доход
        будет зачислен в бюджет этого региона.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Можно ли одновременно работать по трудовому договору и оказывать услуги в качестве
        самозанятого?
        Самозанятый может работать по трудовому договору и одновременно оказывать услуги как самозанятый другому лицу, с
        которым у него 2 года до факта оказания услуг не было трудовых отношений.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Если самозанятый работает по трудовому договору, то входят ли доходы в виде зарплаты в лимит
        2,4 млн. рублей за
        календарный год, установленный для доходов самозанятого?
        Нет, лимит 2,4 млн. рублей установлен только для тех доходов, которые самозанятый регистрирует в приложении «Мой
        налог» и которые составляют налоговую базу для налога на профессиональный доход.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Могут ли адвокат и нотариус быть зарегистрированы в качестве самозанятого?
        Да, они могут применять специальный налоговый режим «Налог на профессиональный доход» для налогообложения
        доходов не от основной деятельности, например, доходов от сдачи квартиры в аренду.
        Как исполнителю получать больше заказов?
        Все исполнители проходят проверку. Мы не регистрируем подозрительные аккаунты.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Перед регистрацией зарегистрируйтесь в качестве самозанятого через приложение «Мой налог» или
        личный кабинет
        налогоплательщика на сайте налогового органа (nalog.ru). При регистрации загрузите фотографию паспорта в хорошем
        качестве.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Укажите свой возраст и подробно опишите опыт выполнения видов работ, которые Вы выбираете при
        регистрации, в
        строке «Резюме».</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Заказчики самостоятельно выбирают исполнителей при формировании заявки, просматривая профили
        свободных в даты
        заявки исполнителей. Исполнитель может принять приглашение или отклонить его.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Как заказчику подобрать нужного исполнителя?
        При регистрации все исполнители проходят проверку сервиса. В том числе мы проверяем достоверность паспортных
        данных, ИНН и регистрации в качестве самозанятого. Мы не допускаем регистрацию подозрительных аккаунтов или
        аккаунтов, по которым представлены недостоверные сведения и документы.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Мы блокируем исполнителей, на которых поступают жалобы от заказчиков. Таких исполнителей
        сервис не предлагает в
        качестве кандидатов на выполнение работ по другим заявкам.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Каким образом происходит оплата работ?</h5>
    <h5 style="margin: 3%">Оплата осуществляется только в безналичной форме. Заказчик с использованием сайта подает
        заявку на оплату (в
        виде аванса или постоплаты) и переводит совокупную стоимость работ по заявке сервису. Мы рассчитываем размер
        вознаграждения каждого из участвовавших в выполнении заявки исполнителей и осуществляем оплату работ
        исполнителям с удержанием комиссии.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Кто готовит отчётные документы?</h5>
    <h5 style="margin: 3%">Мы готовим все отчётные документы. С заказчиком мы подписываем акт о возмещении расходов в
        качестве
        подтверждения перевода денежных средств на оплату выполненных исполнителями работ и акт об оказании услуг в
        качестве подтверждения оказания нами услуг.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Как устанавливаются тарифы сервиса?</h5>
    <h5 style="margin: 3%">Для всех исполнителей, зарегистрировавшихся на сайте, установлен фиксированный тариф – 2 % от
        стоимости работ по
        заявке. Тарифы для заказчиков устанавливаются в индивидуальном порядке в зависимости от планируемого денежного
        оборота по поданным заявкам и выбранного пакета услуг и могут пересматриваться ежемесячного. Чем большее число
        самозанятых заказчики находят через наш сервис, тем меньший размер тарифа для них действует.</h5>
    <hr size=3px width=1300px style="margin-left: 3%">
    <h5 style="margin: 3%">Как быстро исполнитель получает оплату выполненных работ?</h5>
    <h5 style="margin: 3%; padding-bottom: 30px">Исполнитель получит оплату в течение нескольких часов после загрузки
        чеков на сайт, если при регистрации он
        предоставил реквизиты счета.</h5>
</div>

{% endblock %}